<!DOCTYPE html>
<html>
  
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CUNYfirst+</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  
  <body class="container">
    <div id="app">
      
      <div id="shoppingCart" class="hidden">
	<table class="table" id="shoppingCartTable">
	  <caption>Shopping Cart</caption>
	  <thead>
	    <tr>
	      <th></th>
	      <th>Class</th>
	      <th>Section Number</th>
	      <th>Instructor</th>
	      <th>Days</th>
	      <th>Time</th>
	      <th>Location</th>
	    </tr>
	  </thead>
	</table>
	<button type="button" id="registerButton" class="btn btn-success">Register!</button>
      </div>
      <!-- end shopping cart div -->

      
      <form id="searchOptions" action="">

	<label for="department_id_select">Department</label>
	<select id="department_id_select">
	  <option value="">Choose Department</option>
	  <option value="1"> Accounting</option>
	  <option value="2"> Adult Collegiate Education</option>
	  <option value="3"> Africana Studies </option>
	  <option value="4"> American Studies </option>
	  <option value="5"> Anthropology </option>
	  <option value="6"> Art History </option>
	  <option value="7"> Art Studio </option>
	  <option value="8"> Astronomy </option>
	  <option value="9"> Bachelor&#39;s in Applied Social Science </option>
	  <option value="10"> Biochemistry </option>
	  <option value="11"> Biology </option>
	  <option value="12"> Business &amp; Liberal Arts </option>
	  <option value="13"> Byzantine &amp; Modern Greek Studies </option>
	  <option value="14"> CMAL - Arabic </option>
	  <option value="15"> CMAL - Chinese </option>
	  <option value="16"> CMAL - Classics </option>
	  <option value="17"> CMAL - East Asian Studies </option>
	  <option value="18"> CMAL - Greek </option>
	  <option value="19"> CMAL - Hebrew </option>
	  <option value="20"> CMAL - Japanese </option>
	  <option value="21"> CMAL - Korean </option>
	  <option value="22"> CMAL - Latin </option>
	  <option value="23"> CMAL - Middle Eastern Studies </option>
	  <option value="24"> CMAL - Yiddish </option>
	  <option value="25"> CUNY BA </option>
	  <option value="26"> Certificate </option>
	  <option value="27"> Chemistry </option>
	  <option value="28"> Classical, Mideast &amp; Asian Langs-Program-Wide </option>
	  <option value="29"> College English as a Second Language </option>
	  <option value="30"> Comparative Literature </option>
	  <option value="31"> Computer Science </option>
	  <option value="32"> Cooperative Education </option>
	  <option value="33"> Dance </option>
	  <option value="34"> Drama </option>
	  <option value="35"> ECON - Business </option>
	  <option value="36"> ECON - Economics </option>
	  <option value="37"> ECON - Risk Management </option>
	  <option value="38"> ECP - Counselor Education </option>
	  <option value="39"> ECP - Educational Leadership </option>
	  <option value="40"> ECP - School Psychology </option>
	  <option value="41"> ECP - Special Education </option>
	  <option value="42"> ELL - European Studies </option>
	  <option value="43"> ELL - French </option>
	  <option value="44"> ELL - German </option>
	  <option value="45"> ELL - Italian </option>
	  <option value="46"> ELL - Modern Greek </option>
	  <option value="47"> ELL - Russian </option>
	  <option value="48"> Education &amp; Community Programs-Program-wide </option>
	  <option value="49"> Elementary &amp; Early Childhood Education </option>
	  <option value="50"> English </option>
	  <option value="51"> English Language Institute </option>
	  <option value="52"> Environmental Science </option>
	  <option value="53"> Family, Nutrition &amp; Exercise Sciences </option>
	  <option value="54"> Geology </option>
	  <option value="55"> Graduate School of Library &amp; Information Studies </option>
	  <option value="56"> History </option>
	  <option value="57"> Honors (Macaulay) </option>
	  <option value="58"> Honors in the Humanities </option>
	  <option value="59"> Honors in the Mathematical &amp; Natural Sciences </option>
	  <option value="60"> Honors in the Social Sciences </option>
	  <option value="61"> Irish Studies </option>
	  <option value="62"> Italian-American Studies </option>
	  <option value="63"> Jazz </option>
	  <option value="64"> Jewish Studies </option>
	  <option value="65"> Journalism </option>
	  <option value="66"> Labor Studies </option>
	  <option value="67"> Liberal Studies </option>
	  <option value="68"> Library </option>
	  <option value="69"> Linguistics &amp; Communication Disorders </option>
	  <option value="70"> Maintenance Matric </option>
	  <option value="71"> Mathematics </option>
	  <option value="72"> Media Studies </option>
	  <option value="73"> Murphy Institute for Labor &amp; Worker Education </option>
	  <option value="74"> Music </option>
	  <option value="75"> Permit </option>
	  <option value="76"> Philosophy </option>
	  <option value="77"> Physics </option>
	  <option value="78"> Political Science </option>
	  <option value="79"> Portuguese </option>
	  <option value="80"> Psychology </option>
	  <option value="81"> Religious Studies </option>
	  <option value="82"> Search for Education, Elevation &amp; Knowledge </option>
	  <option value="83"> Secondary Education &amp; Youth Services-Literacy </option>
	  <option value="84"> Secondary Education and Youth Services </option>
	  <option value="85"> Sociology </option>
	  <option value="86"> Spanish </option>
	  <option value="87"> Special Studies </option>
	  <option value="88"> Student Personnel Department </option>
	  <option value="89"> Study Abroad </option>
	  <option value="90"> Urban Studies </option>
	  <option value="91"> Women&#39;s Studies </option>
	  <option value="92"> World Studies </option>
	</select>
	<br/>
	
	<label for="end_before_select">Ends Before</label>
	<select id="end_before_select">
	  <option value="">Choose Time</option>
	  <option value="07:00"> 7:00 AM </option>
	  <option value="08:00"> 8:00 AM </option>
	  <option value="09:00"> 9:00 AM </option>
	  <option value="10:00"> 10:00 AM </option>
	  <option value="11:00"> 11:00 AM </option>
	  <option value="12:00"> 12:00 </option>
	  <option value="13:00"> 1:00 PM </option>
	  <option value="14:00"> 2:00 PM </option>
	  <option value="15:00"> 3:00 PM </option>
	  <option value="16:00"> 4:00 PM </option>
	  <option value="17:00"> 5:00 PM </option>
	  <option value="18:00"> 6:00 PM </option>
	  <option value="19:00"> 7:00 PM </option>
	  <option value="20:00"> 8:00 PM </option>
	  <option value="21:00"> 9:00 PM </option>
	  <option value="22:00"> 10:00 PM </option>
	  <option value="23:00"> 11:00 PM </option>
	</select>
	<br/>
	
	<label for="end_after_select">Ends After</label>
	<select id="end_after_select">
	  <option value="">Choose Time</option>
	  <option value="07:00"> 7:00 AM </option>
	  <option value="08:00"> 8:00 AM </option>
	  <option value="09:00"> 9:00 AM </option>
	  <option value="10:00"> 10:00 AM </option>
	  <option value="11:00"> 11:00 AM </option>
	  <option value="12:00"> 12:00 </option>
	  <option value="13:00"> 1:00 PM </option>
	  <option value="14:00"> 2:00 PM </option>
	  <option value="15:00"> 3:00 PM </option>
	  <option value="16:00"> 4:00 PM </option>
	  <option value="17:00"> 5:00 PM </option>
	  <option value="18:00"> 6:00 PM </option>
	  <option value="19:00"> 7:00 PM </option>
	  <option value="20:00"> 8:00 PM </option>
	  <option value="21:00"> 9:00 PM </option>
	  <option value="22:00"> 10:00 PM </option>
	  <option value="23:00"> 11:00 PM </option>
	</select>
	<br/>

	<label for="start_before_select">Starts Before</label>
	<select id="start_before_select">
	  <option value="">Choose Time</option>
	  <option value="07:00"> 7:00 AM </option>
	  <option value="08:00"> 8:00 AM </option>
	  <option value="09:00"> 9:00 AM </option>
	  <option value="10:00"> 10:00 AM </option>
	  <option value="11:00"> 11:00 AM </option>
	  <option value="12:00"> 12:00 </option>
	  <option value="13:00"> 1:00 PM </option>
	  <option value="14:00"> 2:00 PM </option>
	  <option value="15:00"> 3:00 PM </option>
	  <option value="16:00"> 4:00 PM </option>
	  <option value="17:00"> 5:00 PM </option>
	  <option value="18:00"> 6:00 PM </option>
	  <option value="19:00"> 7:00 PM </option>
	  <option value="20:00"> 8:00 PM </option>
	  <option value="21:00"> 9:00 PM </option>
	  <option value="22:00"> 10:00 PM </option>
	  <option value="23:00"> 11:00 PM </option>
	</select>
	<br/>
	
	<label for="start_after_select">Starts After</label>
	<select id="start_after_select">
	  <option value="">Choose Time</option>
	  <option value="07:00"> 7:00 AM </option>
	  <option value="08:00"> 8:00 AM </option>
	  <option value="09:00"> 9:00 AM </option>
	  <option value="10:00"> 10:00 AM </option>
	  <option value="11:00"> 11:00 AM </option>
	  <option value="12:00"> 12:00 </option>
	  <option value="13:00"> 1:00 PM </option>
	  <option value="14:00"> 2:00 PM </option>
	  <option value="15:00"> 3:00 PM </option>
	  <option value="16:00"> 4:00 PM </option>
	  <option value="17:00"> 5:00 PM </option>
	  <option value="18:00"> 6:00 PM </option>
	  <option value="19:00"> 7:00 PM </option>
	  <option value="20:00"> 8:00 PM </option>
	  <option value="21:00"> 9:00 PM </option>
	  <option value="22:00"> 10:00 PM </option>
	  <option value="23:00"> 11:00 PM </option>
	</select>
	<br/>


	
        <input type="submit">
      </form>
      
      <button id="new_search" class="hidden">New Search</button>
      <p id="wait" class="hidden">Loading search results...</p>
      
      
      <div id="searchResults" class="hidden">
	<table id="searchResultsTable" class="table table-hover">
	  <caption>Search Results</caption>
	  <thead>
	    <tr>
	      <th></th>
	      <th>Class</th>
	      <th>Section Number</th>
	      <th>Instructor</th>
	      <th>Days</th>
	      <th>Time</th>
	      <th>Location</th>
	    </tr>
	  </thead>
	</table>
      </div>
      <!-- end shopping cart div -->


      

    </div>
    <!-- end app div -->

    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    
    <script id="sectionSearchResultTemplate" type="text/template">
            <td><button class="selectButton">Select</button></td>
            <td><%= course.name %></td>
            <td><%= id %></td>
            <td><%= instructor.last_name %></td>
            <td>
	      <% if (monday) { %> M <% } %>
	      <% if (tuesday) { %> T <% } %>
	      <% if (wednesday) { %> W <% } %>
	      <% if (thursday) { %> TH <% } %>
	      <% if (friday) { %> F <% } %>
	      <% if (saturday) { %> S <% } %>
	      <% if (sunday) { %> SU <% } %>
	    </td>
            <td><%= start_time %> - <%= end_time %></td>
            <td><%= location.name %></td>
     </script>

    <script id="sectionCartItemTemplate" type="text/template">
            <td><button>Remove</button></td>
            <td><%= course.name %></td>
            <td><%= id %></td>
            <td><%= instructor.last_name %></td>
            <td>
	      <% if (monday) { %> M <% } %>
	      <% if (tuesday) { %> T <% } %>
	      <% if (wednesday) { %> W <% } %>
	      <% if (thursday) { %> TH <% } %>
	      <% if (friday) { %> F <% } %>
	      <% if (saturday) { %> S <% } %>
	      <% if (sunday) { %> SU <% } %>
	    </td>
            <td><%= start_time %> - <%= end_time %></td>
            <td><%= location.name %></td>
     </script>


</body>
</html>